@use "../../styles/partials/responsive" as *;

.hero {
  display: flex;
  flex-direction: column;
  padding: 13rem 0rem;
  color: white;

  @include media-desktop {
    padding: 13rem 10rem;
  }

  &__image {
    width: 100%;
  }

  &__heading {
    font-size: 3rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.1rem;

    @include media-desktop {
      font-size: 5.5rem;
      letter-spacing: 0.2rem;
    }
  }

  &__subtitle {
    font-size: 2rem;
    padding: 1.2rem;
    line-height: 2.5rem;
    font-weight: 300;

    @include media-desktop {
      padding: 3rem 0 0 0;
      font-size: 2.4rem;
      letter-spacing: 0.1rem;
    }
  }
  &__bio {
    padding-top: 5rem;
    font-size: 2rem;
    line-height: 2.8rem;
    font-weight: 300;

    @include media-desktop {
      font-size: 3.2rem;
      line-height: 4.2rem;
      letter-spacing: 0.02rem;
    }
  }

  &__stacks {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-top: 2rem;
    font-family: "IBM Plex Mono", monospace;
    border-radius: 5px;

    @include media-desktop {
      font-size: 2.2rem;
      line-height: 3.4rem;
      margin-top: 4rem;
      padding: 0;
    }
  }
}

.hero1 {
  width: 20%;
}

.hero2 {
  width: 70%;
  margin-left: 7rem;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.hero-inner {
  display: flex;
  width: 100%;
  align-items: center;
}
