@use "../../styles/partials/responsive" as *;

.hero {
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem 25rem 2rem;
  color: white;
  height: 100vh;
  justify-content: flex-end;

  @include media-tablet {
    height: 100vh;
    padding: 0 0 35rem 0;
    justify-content: flex-end;
    width: 600px;
  }

  @include media-desktop {
    width: 1100px;
    max-width: 1400px;
    padding: 0 0 35rem 0;
    height: 100vh;
    justify-content: flex-end;
  }

  @include media-widescreen {
    width: 1300px;
    max-width: 1300px;
  }

  &__image {
    width: 10rem;
    @include media-desktop {
      width: 70%;
    }
  }

  &__bio {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    font-size: 2.2rem;
    line-height: 2.8rem;

    font-weight: 300;

    @include media-desktop {
      font-size: 3.2rem;
      line-height: 4.2rem;
      letter-spacing: 0.02rem;
    }
  }

  &__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin: 0.8rem 0;
    opacity: 0;
    animation: fade-in 2s ease-in-out forwards;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    color: #006cff;
    letter-spacing: 0.2rem;

    &--left{
      margin-left: 1rem;

    }

    @include media-tablet {
      font-size: 2.2rem;
      margin-left: 1rem;
    }

    @include media-desktop {
      font-size: 3.5rem;
      letter-spacing: 0.2rem;
    }
  }

  &__subheading {
    animation: fade-in 5s ease-in-out forwards;

    @include media-tablet {
      padding-right: 15rem;
    }

    div {
      overflow: hidden;
      position: relative;
      height: 96px;
      padding-top: 10px;
      margin-top: -10px;
      width: 30rem;

      @include media-tablet {
        width: 100%;
      }
      li {
        color: #eee;
        height: 45px;
        margin-bottom: 45px;
        list-style: none;
        padding: 0;

        @include media-tablet {
          height: 45px;
        }
      }
    }
  }

  &__stacks {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin-top: 2rem;
    font-family: "IBM Plex Mono", monospace;
    border-radius: 5px;

    @include media-desktop {
      font-size: 2.2rem;
      line-height: 3.4rem;
      margin-top: 4rem;
      padding: 0;
    }
  }
}

.hero1 {
  width: 20%;
}

.hero2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  padding: 0;

  @include media-tablet {
  }
}

.hero-inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: 100%;

  @include media-tablet {
    align-items: center;
    flex-direction: row;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.flip {
  padding: 0;
  animation: flip 10s cubic-bezier(0.23, 1, 0.32, 1.2) infinite;
}

@keyframes flip {
  0% {
    margin-top: -184px;
  }
  5% {
    margin-top: -94px;
  }
  50% {
    margin-top: -94px;
  }
  55% {
    margin-top: 4px;
  }
  99.99% {
    margin-top: 4px;
  }
  100% {
    margin-top: -184px;
  }
}
