@use "../../styles/partials/responsive" as *;

.header {
  padding: 2rem 2rem;

  @include media-tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10rem;
  }

  &__image {
    @include media-desktop {
      width: 15%;
    }
  }

  &__menu-container {
    color: white;
    display: flex;
    font-size: 3rem;
    padding: 2rem 0;
    border-radius: 1.5rem;

    li {
      margin: 0 4rem;
      list-style: none;
    }

    a {
      color: white;
    }
  }

  // &__menu {
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: space-between;
  //   height: 100vh;
  //   color: white;
  //   font-size: 5rem;
  //   padding: 4rem 10rem;

  //   &--close {
  //     display: flex;
  //     justify-content: flex-end;
  //   }

  //   &--icon {
  //     width: 5rem;
  //     animation: pulse 3s infinite;

  //     &:hover {
  //       animation: none;
  //     }
  //   }

  //   &--x{
  //     width: 7rem;
  //   }
  // }

  &__menu-items {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20rem;
    li {
      list-style: none;
      margin: 0 3rem;
    }
  }
}

// @keyframes pulse {
//   0% {
//     transform: scale(1);
//   }
//   50% {
//     transform: scale(1.2);
//   }
//   100% {
//     transform: scale(1);
//   }
// }

@keyframes pulse {
  0% {
    transform: scale(0.85);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(#5a99d4, 0);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(#5a99d4, 0);
  }
}
