@use "../../styles/partials/responsive" as *;

.footer {
  font-size: 2.4rem;

  @include media-desktop {
    background-color: #006cff;
    font-size: 3.2rem;
    letter-spacing: 0.1rem;
    padding: 5rem 10rem;
    border-radius: 1.5rem;
  }

  &__heading {
    padding-bottom: 4rem;
    font-size: 2.4rem;
    font-weight: 400;
    color: white;
  }
}

.connect {
  display: flex;
  color: white;
  font-size: 1.4rem;

  @include media-desktop {
    font-size: 2rem;
    letter-spacing: 0.1rem;
  }
  &__button {
    display: flex;
    justify-content: center;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    background-color: white;
    margin-right: 1.2rem;
    a {
      color: black;
    }

    @include media-tablet {
      width: 15rem;
      padding: 1.5rem 2.5rem;
      margin-right: 3rem;
      border-radius: 1.5rem;
    }
  }
}
